@model QuestionModel
<form asp-action="Index" method="post" id="searchForm">
    <div class="d-flex justify-content-center search-container">
        <textarea type="text" asp-for="QuestionText" class="form-control search-bar" placeholder="Ask your question about the UK election manifestos..."></textarea>
        <button type="submit" class="btn btn-search">Ask</button>
    </div>
    <span asp-validation-for="QuestionText" class="text-danger"></span>
</form>