.btn-search {
    background-color: #212529;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 14px 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    height: 62px;
}

    .btn-search:hover {
        background-color: #343a40;
        transform: translateY(-1px);
    }

@media (max-width: 768px) {
    .btn-search {
        width: 100%;
        margin-top: 1rem;
    }
}
