@model QuestionModel

<div class="container">
    <div class="search-container">
        <h1 class="display-4 mb-2 fs-2">UK Election 2024 Manifesto Search</h1>
        <p class="lead mb-4 fs-6">Find detailed information and answers about the political manifestos for the upcoming UK election. At the moment, this bot is limited to the Labour, Conservative, Green and Liberal Democrat manifestos. Links to those sources can be found below:</p>
        <div class="party-links mb-4">
            <a href="https://labour.org.uk/wp-content/uploads/2024/06/Labour-Party-manifesto-2024.pdf" target="_blank" class="party-link">
                <img src="https://upload.wikimedia.org/wikipedia/sco/0/05/Logo_Labour_Party.svg" alt="Labour Party Logo" class="party-logo"> Labour Manifesto
            </a>
            <a href="https://www.libdems.org.uk/fileadmin/groups/2_Federal_Party/Documents/PolicyPapers/Manifesto_2024/For_a_Fair_Deal_-_Liberal_Democrat_Manifesto_2024.pdf" target="_blank" class="party-link">
                <img src="https://upload.wikimedia.org/wikipedia/en/6/62/Liberal_Democrats_logo.svg" alt="Lib Dem Party Logo" class="party-logo"> Lib Dem Manifesto
            </a>
            <a href="https://greenparty.org.uk/about/our-manifesto/2024-manifesto-downloads/" target="_blank" class="party-link">
                <img width="25" src="https://upload.wikimedia.org/wikipedia/en/c/cc/Green_Party_of_England_and_Wales_logo_2023.png" alt="Green Party Logo" class="party-logo"> Green Manifesto
            </a>
            <a href="https://public.conservatives.com/static/documents/GE2024/Conservative-Manifesto-GE2024.pdf" target="_blank" class="party-link">
                <img src="https://upload.wikimedia.org/wikipedia/en/a/a0/Conservatives_logo.svg" alt="Conservative Party Logo" class="party-logo"> Tory Manifesto
            </a>
        </div>


        @if (string.IsNullOrWhiteSpace(Model.QuestionAnswer))
        {
            <div class="accordion mb-4" id="exampleQuestionsAccordion">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            Example Questions
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#exampleQuestionsAccordion">
                        <div class="accordion-body">
                            <div class="card mb-2">
                                <div class="card-body">
                                    What is the Green Party's approach to taxation?
                                </div>
                            </div>
                            <div class="card mb-2">
                                <div class="card-body">
                                    How does the Labour Party plan to address climate change?
                                </div>
                            </div>
                            <div class="card mb-2">
                                <div class="card-body">
                                    Summarise the differences between the Conservative's and Labour's heathcare policies
                                </div>
                            </div>
                            <div class="card mb-2">
                                <div class="card-body">
                                    What is the Liberal Democrats' stance on education reform?
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        @if (string.IsNullOrWhiteSpace(Model.QuestionAnswer))
        {
            <div id="searchSection">
                @await Html.PartialAsync("_SearchForm", Model)
            </div>
        }

        @if (!string.IsNullOrWhiteSpace(Model.QuestionAnswer))
        {
            <div id="answerSection">
                @await Html.PartialAsync("_AnswerView", Model)
            </div>
        }

        <div class="loading-spinner" id="loadingSpinner">
            <i class="fas fa-sync fa-spin"></i>
            <p class="fs-6">Analysing manifestos. This might take a few seconds.</p>
        </div>

    </div>
</div>